.show {
  position: relative;
  margin-bottom: 60px;
}
.heartIcon {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 55px;
  height: 55px;
}
.showName {
  text-align: center;
  flex-wrap: wrap;
  width: 200px;
}
